body {
	font-family: Apple Color Emoji;
	text-align: center;
}

button {
	width: 25px;
	height: 25px;
	margin: 2px;
}

#game {
	position: relative;
	margin-top: 10px;
}

#board {
	margin: 5px;
}

.stat {
	display: inline-block;
}

.type {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 12px;
}
